.banner {
    align-items: center;
    display: flex;
    background: #0a162c;
}
.container {
    /* display: flex; */
    /* min-width: 2000px; test */
    /* min-width: 100%; */
    align-items: center;
    display: flex;
    background: #0a162c;
}
.carousel {
    /* display: flex; */
    /* min-width: 200px; */
    background: yellow;
    max-width: 800px;
    display: inline;
}
.carousel-side-menu {
    /* width: 400px; */
    flex-flow: row wrap;
    display: flex;
    background: cornflowerblue;
    display: inline;
}
#carousel-side-menu img {
    flex-flow: row wrap;
    display: flex;
    
    
}
.container-carousel {
    background: darkgoldenrod;
    /* min-width: 70px; */
    display: inline;
}
/* .carousel-item {
    /* max-width: 400px;
} */
/* .carousel-inner {
    max-width: 800px;
} */

/* Image thumbnail carousel indicators for li img */
/* #carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
} 
#carousel-custom .carousel-indicators li img {
    display: block;
    
    opacity: 0.5;
    width: 250px;
} */

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}